<ion-view title="Login" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="container login-container">
            <h4>Login to your account</h4>
            <div class="login-provider">
                <img class="login-btn" src="./img/google-login.png" data-ng-click="googleSignIn()"/>
            </div>
            <div class="login-provider">
                <img class="login-btn" src="./img/fb-login.png" data-ng-click="facebookSignIn()"/>
            </div>
        </div>
    </ion-content>
</ion-view>